/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/@fortawesome/fontawesome-free/css/all.css";

::-webkit-scrollbar {
    width: 7px;
    border-radius: 0px;
  }
   
//   ::-webkit-scrollbar-track {
//     box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
// }
 
::-webkit-scrollbar-thumb {
  background-color: #1F4969;
  outline: 1px solid slategrey;
  border-radius: 5px;
}


.card {
    background-color: transparent!important;
    border: none!important;
    .card-header {
        background-color: transparent;
        border-bottom: none;
        padding: 13px 15px 13px 33px!important;
        width: 100%!important;
        border-radius: 0;
        border-left: 4px solid transparent;
        &:hover {
            background: rgba(255, 255, 255, 0.15);
             color: #fff;
             border-left: 4px solid #fff;
        }
    }
    .card-body {
        padding-top: 0!important;
    }
}
.btn-link {
    font-weight: 400;
    color: rgba(255,255,255,.65);
    text-decoration: none;
    &:hover, &:focus {
        color: rgba(255,255,255,.65);
        text-decoration: none;
    }
}
.accordion-div {
 position: relative;
 color: rgba(255,255,255,.65);
 .icon-sidebar {
     position: absolute;
     top: 20px;
     left: 18px;
 }
 .accor-arrow{
     position: absolute;
     top: 25px;
     right: 15px;
 }
 .accor-items{
    padding: 8px 0px!important;
    cursor: pointer;
    &:hover {
        color: white;
    }
 }
}
.flex {
    display: flex;
}